<div class="card-deck">
  <div class='card'>
    <div class='card-body'>
      <h2>Getting Started</h2>
      <p>Course by Debora Kurata. Gets basic knowleges of angular from scratch</p>
    </div>
    <div class='card-header'>
      <a [routerLink]="['/getting-started']">Open</a>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <h2>Angular Forms</h2>
      <p>Course by Mark Zamoyta. Gets basic knowleges of angular template-driven froms</p>
    </div>
    <div class='card-header'>
      <a [routerLink]="['/angular-forms']">Open</a>
    </div>
  </div>
</div>
